
  
*{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
  
    
}
.navbar{
    background: crimson;
    position: sticky;
    display: flex;
    height: 60px;
    width: cover;
    color: #fff;
}
.box{
    width: cover;
    height: 600px;
    padding: 40px 60px;


    
}
.logo{
    font-size: 50px;
    font-weight: 200;
    font-family: 'poppins'sans-serif;
    margin-bottom: 20px;
    display: flex;
    padding-right: 30px;
    padding: 0 100px;
}
.logo span{
    color: aqua;
}
.logo ul li{
    color: white;
    display: inline-block;
    padding-left: 150px;
    
}
.logo ul li a{
    display: inline-block;
    justify-content: space-between;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 25px;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
}
.logo ul li a:hover{
    color: greenyellow;
}
a:is(:link, :active, :visited).active{
    color: #fff;
    background-color: black;
}
@media only screen and (max-width: 960px) {
    .logo{
        padding-left: 0;
    }
    .logo ul li{
        padding-left: 100px;
        margin: 0;
    }

}
@media only screen and (max-width: 760px) {
    .logo{
        padding-left: 0;
        font-size: 30px;
    }
    .logo ul li{
        padding-left: 7px;
        margin-right: 0;
        padding-top: 30px;
    }
    .logo ul li a{
        font-size: 12px;
    }

}
@media only screen and (max-width: 560px) {
    .logo{
        padding-left: 0;
        font-size: 25px;
    }
    .logo ul li{
        padding-left: 5px;
        margin-right: 0;
        padding-top: 30px;
    }
    .logo ul li a{
        font-size: 10px;
    }
    .str{
        margin: 0;
    }
}
@media only screen and (max-width: 420px) {
    .logo{
        padding-left: 0;
        font-size: 20px;
        margin-right: 4px;
    }
    .logo ul li{
        margin-right: 0; 
        float: left;
        padding-top: 30px;
        margin-left: 0;
        margin-top: 10px;

    }
    .logo ul li a{
        font-size: 10px;
    }

}

@media only screen and (max-width: 441px) {
    .logo{
        padding-left: 0;
        font-size: 26px;
    }
    .logo ul li{
        margin-right: 1px;
        font-size: 18px; 
        padding-top: 15px;
        display: inline;
        margin-top: 30px;
        
    }
    .logo ul li a{
        font-size: 8px;
    }

}
@media only screen and (max-width: 420px) {
    .logo{
        padding-left: 0;
        font-size: 23px;
    }
    .logo ul li{
        margin-right: 7px;
        font-size: 10px; 
        padding-top: 10px;
        margin-left: 78px;
        display: inline;
        margin-top: 10px;
        
    }
    .logo ul li a{
        font-size: 8px;
    }

}
@media only screen and (max-width: 360px) {
    .logo{
        padding-left: 0;
        font-size: 19px;
    }
    .logo ul li{
        margin-right: 2px;
        font-size: 12px; 
        padding-top: 10px;
        padding-left: 10px;
        margin-left: 35px;
        display: inline-flex;
        
    }
    .logo ul li a{
        font-size: 8px;
    }

}

.mid{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    width: cover;
    position: relative;
    height: auto;
}




.text-1{
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 40px;
    align-items: center;
    text-align: center;
}
.text-1 span{
    color: rgba(255, 0, 0, 0.788);
}
.text-2{
    padding-bottom: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.text-3{
    color: aqua;
    text-align: center;
}

.copyrights{
    background: grey;
}
.small{
    padding-left: 20px;
}
.img-1{
    height: 20px;
}
.contact{
    padding-top: 25px;
    padding-left: 5px;
}
.cc{
    font-size: 23px;
    border-bottom: 2px solid black;
}
.social-media{
    padding-top: 16px;
    margin-left: 10px;
    padding-left: 12px;
    text-decoration: none;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;

}
.social-icons{
    padding-top: 30px;
    color: blue;
    transition: 0.1s;
}
.social-icons:hover{
    color: #aaa;
    text-decoration: none;
}
.ss-media{
    color: red;
    text-decoration: none;
    transition: 0.1s;
}
.ss-media:hover{
    color: rgba(255, 0, 0, 0.76);
}
.email{
    padding-top: 30px;
    font-size: 20px;
    padding-left: 10px;

}
.here{
    font-weight: bold;
    font-size: 21px;
    font-family: 'poppins'sans-serif;
}
.cnn{
    height: cover;
    width: cover;
    

    
}
.container{
    height: cover;

    width: cover;
    margin: 0 35px;
    background: black;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
}
.hhh{
    margin: 0 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
    text-align: center;
}
.comment{
    margin-top: 25px;
    margin-bottom: 15px;
    padding-right: 35px;
}
.con{
    padding: 15px;
    align-items: center;
    background: url(images/pexels-lil-artsy-3750768.jpg);
    height: 100vh;
    color: white;
    font-size: 20px;
    font-family: 'poppins',sans-serif;
}
.con h1{
    margin-top: 25px;
    margin-bottom: 75px;
    text-align: center;
    color: crimson;
    border-bottom: 3px solid salmon;
}
.con p{
    text-align: center;
    margin: 50px;
    justify-content: space-between;
    padding-right: 20px;

}
.p{
    color: aqua;
    padding-right: 20px;
}
.big{
    margin-top: 30px;
    text-align: center;
    color: red;
    border-bottom: 2px solid red;
}
.str{
    background: white;
    height: cover;
    width: cover;
    align-items: center;
    margin: 0 25px;
    font-weight: 400;
    font-family: 'poppins',sans-serif;
}
.story{
    border-bottom: 2px solid black;
    padding-top: 10px;
    text-align: center;
}
.bn{
    color: #fff;
    background: blue;
    border-radius: 5px;
    transition: 0.1s;
    margin-top: 30px;
}
.bn:hover{
    color: #aaa;
}

.copyright{
    margin-top: 5vh;
    height: 5hv;
    background: gray;
    color: #fff;
    display: flex;
}
.copyright img{
    height: 5vh;
}
.copyright p{
    margin-left: 5px;
    margin-top: 9px;
}
.sml{
    float: left;
    margin-top: 11px;
    margin-left: 100px;
}
.share{
    background: white;
    margin-bottom: 0px;
    float: left;
}
.share a{
    padding-right: 30px;
    display: inline;
    
}
.with{
    font-size: 20px;
}
.ssh{
    margin-top: 30px;
}
.comment{
    margin-top: 50px;
}
.comment h2{
    font-size: 12px;
    margin-bottom: 7px;
}
.comment a{
    margin-left: 15px;
    margin-top: 7px;
}

.head{
    margin-bottom: 10px;
    text-align: center;
    color: aqua;
    font-size: 20px;
    font-weight: 300;
    font-family: 'poppins',sans-serif;
    margin-top: 10px;
    
}
.one {
    margin-left: 10px;
    margin-bottom: 16px;
    font-weight: 500;
}
.two {
    margin-left: 10px;
    margin-bottom: 16px;
    font-weight: 500;
}
.three {
    margin-left: 10px;
    margin-bottom: 16px;
    font-weight: 500;
}
.four {
    margin-left: 10px;
    margin-bottom: 16px;
    font-weight: 500;
}
.five {
    margin-left: 10px;
    margin-bottom: 16px;
    font-weight: 500;
}
.six{
    margin-left: 10px;
    margin-bottom: 16px;
    font-weight: 500;
}
.seven {
    margin-left: 10px;
    margin-bottom: 16px;
    font-weight: 500;
}
.tip p{
    margin: 10px 10px;
    font-weight: 300;
    font-family: 'poppins',sans-serif;
}
.tip h3{
    font-weight: 300;
    margin-top: 10px;
    color: aquamarine;
}

.tp{
    float: right;
    background: #aaa;
    width: cover;
    margin-bottom: 30px;
}